div {
  margin-bottom: 10px;
}

.app {
  display: grid;
  grid-template-rows: auto;
  padding: 5%;
  gap: 20px;
}

.app_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task_column {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .app_main {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .task_column {
    width: 33.33%;
  }
}
