.app{
    display: grid;
    grid-template-rows: 150px auto;
    
    padding: 2% 5%;
}
.app_main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}
.task_column{
    width: 33.33% ;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    
    .app {
      padding: 3% 10%; 
      max-width: 550px;
    }
    .app_main{
        flex-direction: column;
    }
}